<!---start-blog----->
<div class="blog" id="blog">
	<div class="wrap">
	 <div class="blog-left">
	 	<h4>Flat & Modern Transparent</h4>
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letter as opposed to using 'Content here making it look</p>
        <p class="a">Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using 'Content here content here', making it look like readable English.</p>
        <ul>
        	<li><img src="/blog/images/tick.png" alt=""/><a href="#">16 Psd Files Easy to Edit</a></li>
        	<li><img src="/blog/images/tick.png" alt=""/><a href="#">All Fonts used Link includ</a></li>
        	<li><img src="/blog/images/tick.png" alt=""/><a href="#">16 Psd Files Easy to Edit</a></li>
        	<li><img src="/blog/images/tick.png" alt=""/><a href="#">All Fonts used Link includ</a></li>
        </ul>
        <h3>Get Now Your <label>Copy</label> Just for <span>7$</span></h3>
        <p><a href="#">Download Now</a></p>
     </div>    
     <div class="blog-right">
	     <img src="/blog/images/blog.png" alt=""/>
     </div>
      <div class="clear"></div>
	</div>
</div>
