bleach==1.4.2
dj-database-url==0.4.0
dj-static==0.0.6
Django==1.9.4
django-ckeditor==5.0.0
django-embed-video==1.1.0
django-guardian==1.4.2
django-mptt==0.8.3
easy-thumbnails==2.3
gunicorn==19.4.5
html5lib==0.9999999
Markdown==2.4.1
Pillow==3.1.1
psycopg2==2.6.1
python-decouple==2.2
requests==2.9.1
six==1.10.0
static3==0.6.1
Unipath==1.1
whitenoise==2.0.6
