{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}

{% block article %}
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/blog/img/background/start-page.jpg');">  
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <header id="headerArticle" class="hoc clear">
     
   
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
              <li><a href="/">HOME</a></li>
      
        <li><a href="/articles/videos/page/">TUTORIALS</a></li>
        
        <li><a href="/contact/">CONTACT</a></li>
          {% if username %}
                <li><a href="/auth/logout/">LOGOUT ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">LOGIN</a></li>
            {% endif %}
        </ul>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
<div class="clear"></div>  

    <div class="content three_quarter first"> 


<a href="http://www.facebook.com/sharer/sharer.php?u=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Facebook"><img src="{% static 'blog/img/icons/facebook_butt.png' %}" width="30px" height="30px"></a>

<a href="https://twitter.com/home?status=New%20IOS%20tutorial:%20{{article.article_title }}%20blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Twitter"><img src="{% static 'blog/img/icons/twitter_button.png' %}" width="30px" height="30px"></a>

<a href="http://vk.com/share.php?url=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="VKontakte"><img src="{% static 'blog/img/icons/vk_button.png' %}" width="30px" height="30px"></a>

<p></p>
<h6> </h6>

<div class="column-one">

           {% if article_number > 1 %}
        <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 0 }}/" title="Назад"><div class="circle-one"></div></a>
            {% else %}
         <h10></h10>
             {% endif %}
    
</div>


<div class="column-two">

          {% if article_number < len_dict %}
      <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 1 }}/" title="Вперед"><div class="circle-two"></div></a>
            {% else %}
       <h10></h10>
             {% endif %}
    
</div>    
 
 <div class="clear"></div> 
 <p></p>
<h6> </h6>

<p></p>
<h6> </h6>   

      <!-- ################################################################################################ -->
<h8>Course: <a href="/articles/category/get/{{ article.article_category.id }}/">{{ article.article_category }}</a></h8>

<div class="clear"></div>  

<h8>Author: <a href="/articles/author/get/{{ article.article_author.id }}/">{{ article.article_author }}</a></h8>
<p></p>


      <h1>{{ article.article_title }}</h1>
      
      <p>{{ article.short_text_ru|safe }}</p>
      <img class="imgl borderedbox inspace-5" src="{{ article.slug }}" alt="">
      <div class="clear"></div>  
      
{% if article.video_published %}
    
            {% video article.article_video '690x460' %}

            {% endif %}

<p>{{ article.full_text_ru|safe }}</p>



<p></p>
<h6> </h6>      

<a href="http://www.facebook.com/sharer/sharer.php?u=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Facebook"><img src="{% static 'blog/img/icons/facebook_butt.png' %}" width="30px" height="30px"></a>

<a href="https://twitter.com/home?status=New%20IOS%20tutorial:%20{{article.article_title }}%20blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Twitter"><img src="{% static 'blog/img/icons/twitter_button.png' %}" width="30px" height="30px"></a>

<a href="http://vk.com/share.php?url=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="VKontakte"><img src="{% static 'blog/img/icons/vk_button.png' %}" width="30px" height="30px"></a>

<p></p>
<h6> </h6>

<p></p>
<h6> </h6>

<div class="column-one">

           {% if article_number > 1 %}
        <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 0 }}/" title="Назад"><div class="circle-one"></div></a>
            {% else %}
         <h10></h10>
             {% endif %}
    
</div>


<div class="column-two">

          {% if article_number < len_dict %}
      <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 1 }}/" title="Вперед"><div class="circle-two"></div></a>
            {% else %}
       <h10></h10>
             {% endif %}
    
</div>  
    
 <div class="clear"></div>   
 <p></p>
<h6> </h6>

<p></p>
<h6> </h6> 

      <div id="comments">

        <h2>Comments:</h2>


<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//iosdevcourse.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript><a href="https://disqus.com/?ref_noscript"></a></noscript>


<p></p>
<h6> </h6>

<p></p>
<h6> </h6>

<div class="column-one">

           {% if article_number > 1 %}
        <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 0 }}/" title="Назад"><div class="circle-one"></div></a>
            {% else %}
         <h10></h10>
             {% endif %}
    
</div>


<div class="column-two">

          {% if article_number < len_dict %}
      <a href="/articles/article/page/{{ article.article_category.id }}/{{ article_number }}/{{ 1 }}/" title="Вперед"><div class="circle-two"></div></a>
            {% else %}
       <h10></h10>
             {% endif %}
    
</div>      
 <div class="clear"></div>    

<a href="http://www.facebook.com/sharer/sharer.php?u=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Facebook"><img src="{% static 'blog/img/icons/facebook_butt.png' %}" width="30px" height="30px"></a>

<a href="https://twitter.com/home?status=New%20IOS%20tutorial:%20{{article.article_title }}%20blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="Twitter"><img src="{% static 'blog/img/icons/twitter_button.png' %}" width="30px" height="30px"></a>

<a href="http://vk.com/share.php?url=http://blogkost.herokuapp.com{{ request.get_full_path|urlencode }}" target="_blank" title="VKontakte"><img src="{% static 'blog/img/icons/vk_button.png' %}" width="30px" height="30px"></a>


        {# <ul> #}
          {# <li> #}
            {# <article> #}
              {# <header> #}
                {# <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure> #}
                {# <address> #}
                {# By <a href="#">A Name</a> #}
                {# </address> #}
                {# <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time> #}
              {# </header> #}
              {# <div class="comcont"> #}
                {# <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p> #}
              {# </div> #}
            {# </article> #}
          {# </li> #}
         
        {# </ul> #}
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter"> 
      <!-- ################################################################################################ -->
      <h6>Courses:</h6>
      <nav class="sdb_holder">
        {% recursetree categories %}
        <ul>

        {% if node == current_category %}
          <li class="articleTitle"><a href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a><li>
          {% else %}
          <li><a href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a>
           {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_category_id %}
                    {% if not node.is_leaf_node %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_category.id == node.id %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% elif node.level < current_category.level %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
       
    {% endrecursetree %}

    </ul>
    </nav>


      <div class="sdb_holder">
        <h6>Tags:</h6>

         <ul> 
{% for tag in tags %}
{% if tag == current_tag %}
<h10><a href="/articles/tag/get/{{ tag.id }}/" class="articleTitle">{{ tag }}</a></h10>
{% else %}
<h10><a href="/articles/tag/get/{{ tag.id }}/">{{ tag }}</a></h10>
 {% endif %}
 {# {% if not forloop.last %},{% endif %} #}
 {% endfor %}  
 </ul>
       
      </div>
      <div class="sdb_holder">
        <article>
          <h6>Our authors:</h6>
           {% recursetree authors %}
        <li>
        {% if node == current_author %}

          {% if node.slug %}
          <a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}" class="articleTitle">{{ node }}</a>
          <a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorBig border-radius-120" src="{{ node.slug }}" height="140px" width="140px" alt="" class="roundpca"></a></h8>
           <p><a  href="/contact/" title="{% blocktrans with project=node %}Задать вопрос {{ node }}{% endblocktrans %}" class="authorQs">Ask a Question!</a></p>
         <p></p>
         <h6> </h6>
          {% else %}

          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}" class="articleTitle">{{ node }}</a></h8>
          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorBig border-radius: 120px" src="{% static 'blog/img/avatar.png' %}"  height="140px"  width="140px" alt="" class="roundpca"></a></h8>
         <p><a  href="/contact/" title="{% blocktrans with project=node %}Задать вопрос {{ node }}{% endblocktrans %}" class="authorQs">Ask a Question!</a></p>
         <p></p>
         <h6> </h6>
           {% endif %}

        {% else %}

        {% if node.slug %}

        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8>
        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorSmall border-radius: 30px" src="{{ node.slug }}" height="40px" width="40px" alt="" class="roundpa"></a></h8>      
          <p></p>
         <h6> </h6>
          {% else %}
          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8>
        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorSmall border-radius: 30px" src="{% static 'blog/img/avatar.png' %}" height="40px" width="40px" alt="" class="roundpa"></a></h8> 
        <p></p>
         <h6> </h6>

          {% endif %}
        {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_author_id %}
                    {% if not node.is_leaf_node %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_author.id == node.id %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% elif node.level < current_author.level %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        </li>
    {% endrecursetree %}
        </article>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock %}