{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}

{% block article %}
<!-- Top Background Image Wrapper -->

<div class="bgded overlay" style="background-image:url('/static/blog/img/background/start-page.jpg');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <header id="headerArticle" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
           <li><a href="/">HOME</a></li>
      
        <li><a href="/articles/videos/page/">TUTORIALS</a></li>
        
        <li><a href="/contact/{{ 11 }}/">CONTACT</a></li>
          {% if username %}
                <li><a href="/auth/logout/">LOGOUT ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">LOGIN</a></li>
            {% endif %}
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 

   <div class="content three_quarter first"> 

  {% for article in articles %}

  <div class="content two_quarter"> 

{% if article.video_only %}
<h8><r><img src="{% static 'blog/img/icons/video.png' %}" class="imgVidWrit" title="Video tutorial"></r></h8>
{% endif %}

{% if article.written_only %}
<h8><r><img src="{% static 'blog/img/icons/written.png' %}" class="imgVidWrit" title="Written tutorial"></r></h8>
{% endif %}  

<div class="clear"></div> 
  
<h8>Course: <a href="/articles/category/get/{{ article.article_category.id }}/">{{ article.article_category }}</a></h8>

<div class="clear"></div>  

<h8>Author: <a href="/articles/author/get/{{ article.article_author.id }}/">{{ article.article_author }}</a></h8>
<p></p>


      <h1><a href="/articles/videos/get/{{ article.article_category.id }}/{{ article.id }}/" class="articleTitle">{{ article.article_title }}</a></h1>
     
      <p>{{ article.short_text_ru|safe }}</p>
      <div class="clear"></div>  
</div>   

<div class="content one_quarter second">   

{% if article.video_published %}
    
            {% video article.article_video '220x160' %}
{% else %} 

    {% if article.slug %}

        {% if current_category or current_author or current_tag %}

            <img src="{{ article.slug }}" width="220px" height="160px">

        {% else %} 

            <img src="{{ article.slug }}" width="220px" height="160px">
            {# <img src="{{MEDIA_URL}}{{ article.image.url}}" width="220px" height="160px"> #}

        {% endif %}    
            
    {% else %}    

            <img src="{% static 'blog/img/image_fix.png' %}" width="220px" height="160px">    

    {% endif %}
    
{% endif %}

</div>  

      
      <h6></h6>
<div class="clear"></div>  
   
      <h6></h6>
<div class="clear"></div>  

      <h6></h6>
<div class="clear"></div>  



 {% endfor %}
      
</div>

   
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter"> 
      <!-- ################################################################################################ -->
      
      <div class="sdb_holder">
      <h6>Courses:</h6>
      <nav class="sdb_holder">
       {% recursetree categories %}
        <ul>

        {% if node == current_category %}
          <li class="articleTitle"><a href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a><li>
          {% else %}
          <li><a href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a>
           {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_category_id %}
                    {% if not node.is_leaf_node %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_category.id == node.id %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% elif node.level < current_category.level %}
                        <ul>
                            <li>{{ children }}<li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
       
    {% endrecursetree %}

    </ul>
    </nav>


      <div class="sdb_holder">
        <h6>Tags:</h6>

         <ul> 
{% for tag in tags %}
{% if tag == current_tag %}
<h10><a href="/articles/tag/get/{{ tag.id }}/" class="articleTitle">{{ tag }}</a></h10>
{% else %}
<h10><a href="/articles/tag/get/{{ tag.id }}/">{{ tag }}</a></h10>
 {% endif %}
 {# {% if not forloop.last %},{% endif %} #}
 {% endfor %}  
 </ul>
       
      </div>
      <div class="sdb_holder">
        <article>
          <h6>Our authors:</h6>
           {% recursetree authors %}
{% if not node.id == 11 %}
        <li>
        {% if node == current_author %}

          {% if node.slug %}
          <a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}" class="articleTitle">{{ node }}</a>
          <a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorBig border-radius-120" src="{{ node.slug }}" height="140px" width="140px" alt="" class="roundpca"></a></h8>
           <p><a  href="/contact/{{ node.id }}/" title="{% blocktrans with project=node %}Задать вопрос {{ node }}{% endblocktrans %}" class="authorQs">Ask a Question!</a></p>
         <p></p>
         <h6> </h6>
          {% else %}

          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}" class="articleTitle">{{ node }}</a></h8>
          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorBig border-radius: 120px" src="{% static 'blog/img/avatar.png' %}"  height="140px"  width="140px" alt="" class="roundpca"></a></h8>
         <p><a  href="/contact/{{ node.id }}/" title="{% blocktrans with project=node %}Задать вопрос {{ node }}{% endblocktrans %}" class="authorQs">Ask a Question!</a></p>
         <p></p>
         <h6> </h6>
           {% endif %}

        {% else %}

        {% if node.slug %}

        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8>
        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorSmall border-radius: 30px" src="{{ node.slug }}" height="40px" width="40px" alt="" class="roundpa"></a></h8>      
          <p></p>
         <h6> </h6>
          {% else %}
          <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8>
        <h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}"><img class="imgAutorSmall border-radius: 30px" src="{% static 'blog/img/avatar.png' %}" height="40px" width="40px" alt="" class="roundpa"></a></h8> 
        <p></p>
         <h6> </h6>

          {% endif %}
        {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_author_id %}
                    {% if not node.is_leaf_node %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_author.id == node.id %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% elif node.level < current_author.level %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endif %}
        </li>
    {% endrecursetree %}
        </article>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock %}