{% extends "index.html" %}
{% load staticfiles %}
{% block article_id %}
{% load i18n mptt_tags %}

     <div class="article">
    <div class="content">

<div class="txt">
<h8>Дата публикации: {{ article.article_date }}</h8>
<h8><p>Автор публикации: <a href="/articles/author/get/{{ article.article_author.id }}/">{{ article.article_author }}</a></p></h8>
<h1>{{ article.article_title }}</h1>
<p>{{ article.full_text_ru|safe }}</p>
<hr>
 
<p>Комментарии: {% if username %}
    <h10></h10>
    {% else %}
    <h10>Чтобы оставить комментарий зайдите на сайт или зарегистрируйтесь</h10>
    {% endif %}</p>



{% for comment in comments %}

    <div class="comments_user">
 <h4>{{ comment.comments_user }}:</h4>
    <h8>{{ comment.comments_create }}</h8>
      </div>
    <div class="comment_text">
    <h4>{{ comment.comments_text }}</h4>
    </div>
<p></p>
{% endfor %}

    {% if username %}
    <form action="/articles/article/addcomment/{{ article.id }}/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Комментировать">
    </form>
    {% endif %}
   </div>


 <ul class="nav">

<h6>Courses:</h6>
<ul class="author">
    {% recursetree categories %}
        <li>
        {% if node == article.article_category %}
          <pca><h8><a  href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8></pca>
          {% else %}
          <pa><h8><a  href="/articles/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8></pa>
           {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_category_id %}
                    {% if not node.is_leaf_node %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_category.id == node.id %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% elif node.level < current_category.level %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        </li>
    {% endrecursetree %}

<p></p>
{# </ul> #}

<h6>Our authors:</h6>
{# <ul class="author"> #}
    {% recursetree authors %}
        <li>
        {% if node == article.article_author %}
          <pca><h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8></pca>
          {% else %}
          <pa><h8><a  href="/articles/author/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ node }}{% endblocktrans %}">{{ node }}</a></h8></pa>
           {% endif %}

            {% if node.is_root_node %}
                {% ifequal node.id root_author_id %}
                    {% if not node.is_leaf_node %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endifequal %}
            {% else %}
                {% if not node.is_leaf_node %}
                    {% if current_author.id == node.id %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% elif node.level < current_author.level %}
                        <ul class="child">
                            <h10>{{ children }}</h10>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<p></p>
 <h6>Tags:</h6>
 <ul> 
{% for tag in tags %}
{% if tag == current_tag %}
<pct><h10><a href="/articles/tag/get/{{ tag.id }}/">{{ tag }}</a></h10></pct>
{% else %}
<pt><h10><a href="/articles/tag/get/{{ tag.id }}/">{{ tag }}</a></h10></pt>
 {% endif %}
 {# {% if not forloop.last %},{% endif %} #}
 {% endfor %}  
 </ul>
 
</ul>  

     </div>
 </div>

{% endblock %}



