{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block article %}
 <!---start-tutorials----->
    <section class="contact" id="contact" xmlns="http://www.w3.org/1999/html">

  <div class="content">


{% for article in articles %}
  <div class="form">
    <div class="column-2">
            {% video article.article_video '180x100' %}
            <h6>Дата публикации: {{ article.article_date }}</h6>
            </div>
 </div>

    <div class="column-3">
    <h2><a href="/articles/get/{{ article.id }}/{{ art_page_number }}/">{{ article.article_title }}</a></h2></br>
       <p>{{ article.short_text_ru|safe }}</p>

    </div>

<div class="clear"></div>
            <hr>
<div class="clear"></div>

            {% endfor %}



            <ul class="pagination" role="menubar" aria-label="Pagination">
                {% if articles.has_previous %}
                <li class="arrow"><a href="/articles/page/{{ articles.previous_page_number }}/">&laquo; Назад</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in articles.paginator.page_range %}
                    {% if page == articles.number %}
                        <li class="current"><a href="/articles/page/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/articles/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                <li class="arrow"><a href="/articles/page/{{ articles.next_page_number }}/">Вперед &raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>

 </div>
    </section>
{% endblock %}
