{% load staticfiles %}
{% load embed_video_tags %}
{% load mptt_tags %}
<!DOCTYPE html>

<html lang="ru">
<head>
<title>IosDevCourse</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name="description" content="Free ios development tutorials for all"/>
<meta name="keywords" content="ios, tutorials, development, swift, free"/>
<meta name="author" content="iosDevCourse"/>
    
<link rel="shortcut icon" href="{% static 'blog/img/favicon.png' %}"> 
<link href="{% static 'blog/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% block slider %}{% endblock %}

{% block main %}{% endblock %}

{% block login %}{% endblock %}

{% block contact %}{% endblock %}
   
{% block article %}{% endblock %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('/static/blog/img/background/partner.jpg');">
  <footer id="footer" class="hoc clear center"> 
    <!-- ################################################################################################ -->
    <h3 class="heading uppercase">ios Dev Course</h3>
    <ul class="faico clear">
      {# <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li> #}
      {# <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li> #}
      {# <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li> #}
      {# <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> #}
      {# <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li> #}
      <li><a class="faicon-vk" href="https://new.vk.com/iosdevcourse"><i class="fa fa-vk"></i></a></li>
    </ul>
    <!-- ################################################################################################ -->


  </footer>
  <!-- ################################################################################################ -->
  <div id="copyright" class="hoc clear center"> 
    <!-- ################################################################################################ -->
    <p>Copyright &copy; 2016 - All Rights Reserved - <a href="#">iosdevcourse.com</a></p>
    
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'blog/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'blog/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'blog/layout/scripts/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'blog/layout/scripts/jquery.flexslider-min.js' %}"></script>
<script id="dsq-count-scr" src="//iosdevcourse.disqus.com/count.js" async></script>
</body>
</html>