<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <title>IOSDevCourse.com</title>

		<meta name="description" content="Free ios development tutorials for all"/>
		<meta name="keywords" content="ios, tutorials, development, swift"/>
		<meta name="author" content="iosDevCourse.com"/>
		
		<link rel="shortcut icon" href="{% static 'blog/img/favicon.png' %}"> 
		
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/reset.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style-responsive.css' %}" />				

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
		
</head>

<body>


<div class="container">


  <!-- section menu mobile -->
  
  <section class="menu-media">
  
    <div class="menu-content">
    
      <div class="logo">IOS Dev Course</div>
    
    </div>
   
  </section>
  
    <ul class="menu-click">
        <a href="/"><li href="/">HOME</li></a>
        <a href="#about-us"><li href="#about-us">ABOUT US</li></a>
        <a href="#portfolio"><li href="#portfolio">PORTFOLIO</li></a>
        <a href="/contact/"><li href="#contact">CONTACT</li></a>

    </ul>
   

  <!-- section menu -->
  
  <section class="menu">

    <div class="menu-content">
    <a href="/"><div class="logoImg"><img src="{% static 'blog/img/logo_2_1.png' %}" width="31px" height="35px"></div></a>
    <a href="/"><div class="logo">IOSDevCourse</div></a>

      <ul id="menu">
        <li><a href="/">HOME</a></li>
          <li><a href="/tutorials/">TUTORIALS</a></li>
        {% if art_page_number %}
				<li><a href="/articles/videos/page/{{ art_page_number }}/">VIDEO</a></li>
            {% else %}
				<li><a href="/articles/videos/page/{{ 1 }}/">VIDEO</a></li>
             {% endif %}

        {% if art_page_number %}
				<li><a href="/articles/writtens/page/{{ art_page_number }}/">WRITTEN</a></li>
            {% else %}
				<li><a href="/articles/writtens/page/{{ 1 }}/">WRITTEN</a></li>
             {% endif %}

        <li><a href="#about-us">FAQ</a></li>
        <li><a href="/portfolio/">PORTFOLIO</a></li>
        <li><a href="/contact/">CONTACT</a></li>
          {% if username %}
                <li><a href="/auth/logout/">LOGOUT ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">LOGIN</a></li>
            {% endif %}
      </ul>

    </div>


  </section>


{% block slider %}{% endblock %}

{% block login %}{% endblock %}

    {% block article_id %}{% endblock %}

    {% block article %}{% endblock %}


{% block tutorials %}{% endblock %}



  <div class="clear"></div>  

  <!-- portoflio-->

{% block portfolio %}{% endblock %}

{% block contact %}{% endblock %}
   <div class="clear"></div>  
  
  
  
  
    <!-- partners-->

    <section class="partners parallax-background-partners" id="partners">
    
    <div class="opacity"></div>
    
      <div class="content">
      
        <h2>Thanks for partners</h2>
        
            <div class="logo">
          
                <a href="/"><img src="{% static 'blog/img/logo_2.png' %}" width="55px" height="60px"></a>
{#                <a href="#"><img src="{% static 'static/blog/img/logos/archiq.png' %}"></a>#}
{#                <a href="#"><img src="{% static 'static/blog/img/logos/thomsoon.png' %}"></a>#}
{#                <a href="#"><img src="{% static 'static/blog/img/logos/alex2.png' %}"></a>#}
              
            </div>
      
      </div>

    </section>


    <!-- Contact-->




    <section class="footer">
      
        <div class="logo"><img src="{% static 'blog/img/logo_2_1.png' %}" width="32px" height="35px"></div>
        <div class="menu-footer">
        
          <a href="/">Home</a>
          <a href="#">Privacy policy</a>
          <a href="#">RSS</a>
          <a href="#">Facebook</a>
          <a href="#">VKontakte</a>
          <a href="#">Twitter</a>
          <a href="#">Contact</a>
        
        </div>
        
        <div class="copyright">© 2015. All Rights Reserved iosDevCourse.com</div>
    
    
    </section>    
    

</div>



	<!-- Scripts -->
	
	<script src="{% static 'blog/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'blog/js/jquery-ui-1.10.4.min.js' %}" type="text/javascript"></script> <!-- jQuery -->
	<script src="{% static 'blog/js/jquery.nicescroll.js' %}"></script> <!-- jQuery NiceScroll -->
	<script src="{% static 'blog/js/jquery.sticky.js' %}"></script> <!-- jQuery Stick Menu -->
	<script src="{% static 'blog/js/masonry.pkgd.min.js' %}"></script> <!-- All script -->
	<script src="{% static 'blog/js/imagesloaded.pkgd.min.js' %}"></script> <!-- All script -->	

   <script>
     $(function(){
   
       var $container = $('.grid');
     
       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : 'li'
         });
       });
     
     });
   </script>
	<script src="{% static 'blog/js/jquery.parallax.js' %}"></script> <!-- jQuery Parallax -->	
	<script src="{% static 'blog/js/script.js' %}"></script> <!-- All script -->	


</body>

</html>
